body {
    background-image: url('https://im-tst.mkb.ru/assets/background_dark.png') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.kcLoginClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.kcFormCardClass {
    background: white;
    border-radius: 28px;
    padding: 32px;
    width: 435px;
}

.kcInfoAreaWrapperClass, .kcFormSettingClass, .kcLocaleWrapperClass, .kcLocaleDropDownClass {
    display: none;
}

.kcHeaderWrapperClass {
    position: relative;
    z-index: -1;
}

[data-kc-msg="loginTitleHtml"] {
    color: transparent !important;
    font-size: 0 !important;
    width: 200px;
    height: 60px;
    display: block;
    margin: 0 auto 20px;
    position: relative;
}

[data-kc-msg="loginTitleHtml"]::before {
    content: "";
    background-image: url('./assets/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* Позиционируем поверх скрытого текста */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.kcFormHeaderClass {
    display: none !important;
}

.kcFormGroupClass {
    margin-bottom: 20px;
}

.kcButtonClass {
    width: 100%;
    margin-top: 16px;
    border: none;
    outline: none;
    background-color: #940723;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
    font-size: 14px;
}

.kcButtonClass:hover {
    background-color: #c31639;
}

[data-kc-msg="usernameOrEmail"], [data-kc-msg="password"] {
    color: #48484b !important;
    font-size: 16px !important;
}

.kcInputClass {
    width: 100%;
    border: none;
    padding: 9px 11px;
    background-color: #f7f7f7;
    border-radius: 8px;
}

.kcFormPasswordVisibilityButtonClass {
    background-color: #f7f7f7;
    border: none;
    outline: none;
    width: 48px;
    height: 38px;
}

.loaderBox {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6A6E7373;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup {
    width: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.loaderText {
    color: black;
    text-align: center;
    font-size: 13px;
}

.link {
    margin-left: 5px;
}

.loader {
    border: 4px solid red;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}